<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>三务公开</title>
    <link href="skin/default/style.css" rel="stylesheet" type="text/css" />
    <link href="../scripts/element/element.css" rel="stylesheet" />
    <style>
        .row {
            height: 50px;
        }

        .hint {
            font-size: 12px;
            color: #c3c3c3;
        }

        .btn-add {
            margin-left: 277px;
        }

        .delete {
            margin-left: 100px;
        }

        .yet {
            background-color: #f0ad4e;
        }
    </style>
</head>

<body class="mainbody">
    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
        <a href="#" class="home"><i></i><span>首页</span></a> <i class="arrow"></i><span id="title">重要通知</span>
    </div>
    <!--/导航栏-->
    <!--内容-->
    <div class="line10"></div>
    <div id="app"  v-cloak>
        <el-row>
            <!--<el-col v-bind:span="6">
                <el-tree v-bind:data="dataTree"
                         ref="tree"
                         show-checkbox
                         accordion
                         node-key="id">
                </el-tree>
            </el-col>-->
            <el-col v-bind:span="18">
                <table style="margin-left: 15%">
                    <tr class="row">
                        <td>消息类型 :&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <el-radio-group v-model="type">
                                <el-radio v-bind:label="4">图文</el-radio>
                                <el-radio v-bind:label="0">文本</el-radio>
                                <el-radio v-bind:label="1">图片</el-radio>
                                <el-radio v-bind:label="2">语音</el-radio>
                                <el-radio v-bind:label="3">视频</el-radio>
                            </el-radio-group>
                        </td>
                    </tr>
                    <tr class="row" v-if="type == 3">
                        <td>{{typeTile}} :&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <input type="text" v-model="title" />
                        </td>
                    </tr>
                    <tr class="row" v-if="type != 0 &&  type != 4 ">
                        <td>{{typeFile}} :&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <form method="post" enctype="multipart/form-data">
                                <input type="file" id="file" v-bind:accept="mime" onchange="$('#btnUpload').click()" /><br />
                                <span class="hint">{{hint}}</span>
                                <input type="button" id="btnUpload"
                                       v-bind:value="yetUpload ? '已传' : '上传'"
                                       class="btn"
                                       @click="uploadFile('file')"
                                       style="display:none"
                                       v-loading.fullscreen.lock="fullscreenLoading" />
                            </form>
                        </td>
                    </tr>
                    <tr class="row" v-if="type == 0 || type == 3" style="height: 80px">
                        <td>{{typeMsg}} :&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <textarea style="height: 60px;width: 247px;" v-model="msg"></textarea>
                        </td>
                    </tr>
                    <!-- 图文部分 -->
                    <tr v-if="type == 4" v-for="(tw,index) in twList">
                        <td is="tw-item" :tw.sync="tw" :ind="index" :twlength="twList.length"></td>
                    </tr>
                    <tr class="row">
                        <td colspan="2">
                            <input type="button" value="发送" class="btn" @click="sendMsg()" v-loading.fullscreen.lock="fullscreenLoading" />
                            <el-tooltip class="btn-add" v-if="twList.length < 3 && type == 4"
                                        effect="dark" content="点击添加一组图文,最多三组" placement="bottom-end">
                                <el-button @click="addTw()">+</el-button>
                            </el-tooltip>
                        </td>
                    </tr>
                </table>
            </el-col>
        </el-row>
    </div>
    <script type="text/javascript" src="../scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/layout.js"></script>
    <script src="../scripts/lodash.min.js"></script>
    <script src="../scripts/vue/vue.js"></script>
    <script src="../scripts/element/elemrnt.js"></script>
    <script src="../scripts/vue/weixinTemplate.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                dataTree: [],
                type: 4,
                mime: "",
                hint: "",
                yetpath: "",
                path: "",
                yetUpload: false,
                msg: "",
                title: "",
                fullscreenLoading: false,
                typeTile: "",
                typeFile: "",
                typeMsg: "文本内容",
                twList: [
                    {
                        title: "",
                        msg: "",
                        path: "",
                        yetpath: ""
                    }]
            },
            methods: {
                sendMsg: function () {
                    var that = this;
                    //var openIds = that.$refs.tree.getCheckedKeys();
                    //if (openIds.length < 1) {
                    //    alert("请选择需要群发的对象");
                    //    return
                    //} 
                    if (that.type === 0 && that.msg.trim() === "") {
                        alert("请输入需要发送的消息");
                        return
                    }
                    if (that.type !== 0 && that.type !== 4 && that.path.trim() === "") {
                        alert("选择需要的文件,并且完成上传");
                        return
                    }
                    if (that.type === 3) {
                        if (that.title.trim() === "") {
                            alert("请输入标题");
                            return
                        }
                        if (that.msg.trim() === "") {
                            alert("请输入描述/内容");
                            return
                        }
                    }
                    if (that.type === 4) {
                        var msgCount = 0;
                        that.twList.forEach((tw) => {
                            if (!tw.path) {
                                msgCount++;
                            }
                            if (!tw.title) {
                                msgCount++;
                            }
                            if (!tw.msg) {
                                msgCount++;
                            }
                        });
                        if (msgCount > 0) {
                            alert("请完善图文信息, 不要留有空白");
                            return;
                        }
                    }
                    that.fullscreenLoading = true;
                    $.ajax({
                        type: "post",
                        url: "../Ajax/weixinInfo.ashx",
                        data: {
                            type: "sendMsgTest",
                            msg: that.msg,
                            path: that.path,
                            msgType: that.type,
                            title: that.title,
                            twList: JSON.stringify(that.twList)
                        },
                        complete: function (d) {
                            that.fullscreenLoading = false;
                            alert(d.responseText);
                        }
                    });
                },
                uploadFile: function (name) {
                    var that = this;
                    if (!$('#' + name).val()) {
                        alert("请先选择需要上传的文件");
                        return;
                    }
                    if (that.yetpath === $('#' + name).val() && that.path) {
                        alert("请勿重复上传");
                        return;
                    }

                    that.fullscreenLoading = true;
                    var formData = new FormData();
                    formData.append('file', $('#' + name)[0].files[0]);
                    $.ajax({
                        url: '../Ajax/upload_ajax.ashx?action=UpLoadMsgFile',
                        type: 'POST',
                        data: formData,
                        timeout: 90000,
                        processData: false,
                        contentType: false
                    }).done(function (res) {
                        if (res === "网络异常,请重新尝试上传") {
                            alery(res);
                            return;
                        }
                        if (name.split("_").length > 1) {
                            that.twList[name.split("_")[1]].path = res;
                            that.twList[name.split("_")[1]].yetpath = $('#' + name).val();
                        } else {
                            that.path = res;
                            that.yetpath = $('#' + name).val()
                        }
                        that.fullscreenLoading = false;
                        alert("上传成功")
                    }).fail(function (res) {
                        that.fullscreenLoading = false;
                        alert("上传失败")
                        console.error(res);
                    });
                },
                addTw: function () {
                    this.twList.push({
                        title: "",
                        msg: ""
                    });
                }
            },
            watch: {
                type: function (newValue) {
                    $("input[type='file']").val("")
                    this.path = ""
                    this.msg = ""
                    if (newValue === 0) {
                        this.typeMsg = "文本内容"
                    }
                    if (newValue === 1) {
                        this.hint = "支持PNG\\JPEG\\JPG\\GIF格式 不能超过2M";
                        this.mime = "image/gif, image/jpeg";
                        this.typeFile = "选择图片"
                    }
                    if (newValue === 2) {
                        this.hint = "播放长度不超过60s，支持AMR\\MP3格式 不能超过2M";
                        this.mime = "audio/mp3, audio/amr";
                        this.typeFile = "选择语音"
                    }
                    if (newValue === 3) {
                        this.hint = "支持MP4格式 不能超过10M";
                        this.mime = "video/mp4";
                        this.typeFile = "选择视频"
                        this.typeTile = "视频标题"
                        this.typeMsg = "视频描述"
                    }
                },
                path: function (newValue, oldValue) {
                    if (newValue !== oldValue) {
                        this.yetUpload = true;
                    }
                    if (newValue === "") {
                        this.yetUpload = false;
                    }
                }
            },
            mounted () {
                var that = this;
                $.ajax({
                    type: "get",
                    url: "../Ajax/sys_UsersManager.ashx?type=getUsersByVillage",
                    complete: function (d) {
                        var list = JSON.parse(d.responseText);
                        list.forEach((item) => {
                            item.disabled = window._.all(item.children, function (child) {
                                return child.disabled;
                            });
                        });
                        that.dataTree = list;
                    }
                });
            }
        })
        //$(function () {
        //    $("input[type='file']").on("change", function () {
        //        debugger;
        //        vm.path = "";
        //    });
        //});
    </script>
</body>
</html>
