<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../css/css.css">
    <title>三到行动-七户信息修改</title>
    <style>
        select, input {
            height: 30px;
            border: 1px solid #eeeeee;
            padding-left: 5px;
            width: 40%;
        }

        .small {
            width: 44px;
            padding: 0px;
            height: 30px;
            position: relative;
            top: -32px;
            left: 87%
        }
    </style>
</head>
<body style="width: 94%; margin-left: 3%">
    <div class="banner">
        <img src="../images/weixin/banner.png">
    </div>
    <div class="container" id="app" v-cloak>
        <div class="row">
            <div class="header">
                <div class="text">
                    选择拜访户
                </div>
            </div>
            <div style="text-align: left;">
                <ddlsee v-bind:family.sync="family"></ddlsee>
            </div>
        </div>
        <div class="row">
            <div class="header">
                <div class="text">
                    所属区域
                </div>
            </div>
            <div>
                <iframe id="baiduframe" name="baiduframe" src="../editor/plugins/baidumap/weixinIndex.html?yjindu=119.156456&xweidu=33.5226"
                        style="width: 100%;border: 0 "></iframe>
                <input type="button" class="btn small" value="定位" @click="localXy()" />
            </div>
        </div>
         <div class="row">
            <div class="header">
                <div class="text">
                    户主姓名
                </div>
            </div>
            <div>
                <input type="text" style="width: 70%" v-model="name" />
            </div>
        </div>
        <div class="row">
            <div class="header">
                <div class="text">
                    户主联系方式
                </div>
            </div>
            <div>
                <input type="text" style="width: 70%" v-model="phone" />
            </div>
        </div>
        <div class="row">
            <div class="header">
                <div class="text">
                    家庭住址
                </div>
            </div>
            <div>
                <input type="text" style="width: 70%" v-model="address" />
            </div>
        </div>
        <div class="row">
            <div class="header">
                <div class="text">
                    家庭人口
                </div>
            </div>
            <div>
                <select v-model="number">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="row" style="position: relative;top: -49px;">
            <div class="header">
                <div class="text">
                    备注
                </div>
            </div>
            <div>
                <textarea style="width: 100%;height: 110px" v-model="msg"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <input type="button" class="btn" value="提交" @click="submitcontent()" />
        </div>
    </div>
    <input type="hidden" id="x" />
    <input type="hidden" id="y" />
    <script src="../scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="../scripts/vue/vue.js"></script>
    <script src="../scripts/lodash.min.js"></script>
    <script src="../scripts/vue/weixinTemplate.js"></script>
    <script src="../scripts/weixin/main.js"></script>
    <link href="../scripts/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="../scripts/sweetalert/sweetalert.min.js"></script>
    <script src="../scripts/weixin/login.js"></script>
    <script src="../scripts/weixin/jweixin-1.2.0.js"></script>
    <script src="../scripts/weixin/familyEdit.js"></script>
</body>
</html>
