<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../css/css.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <title>三到行动-互动学习</title>
</head>
<body style="width: 94%; margin-left: 3%">
    <div class="banner">
        <img src="../images/weixin/banner.png">
    </div>
    <div class="container" id="app" v-cloak>
        <div class="row" style="text-align: right;">
            <a class="btn" href="interactEdit.html" style="margin-right: 11px;width: 71px;height: 34px;margin-top: 19px;">去留言</a>
        </div>
        <div class="row">
            <div class="header">
                <div class="text">
                    留言列表
                </div>
            </div>
            <div style="text-align: left;">
                <table style="width: 94%; margin-left: 3%">
                    <template v-for="model in list">
                        <tr @click="select(model.id)">
                            <td rowspan="2" v-if="model.img">
                                <img name="img" v-bind:src="model.img" height="45" width="60" style="margin-right: 15px;margin-bottom: 11px;" />
                            </td>
                            <td v-bind:colspan="model.img ? 1 : 2">
                                {{model.content}}
                            </td>
                        </tr>
                        <tr style="border-bottom: #d2d2d2 1px solid;width: 120%">
                            <td v-bind:colspan="model.img ? 1 : 2"
                                style="font-size: 12px; font-weight: 700; text-align: right;height: 24px;">
                                by:{{model.userName}}&nbsp;&nbsp;发布时间:{{model.time}}&nbsp;&nbsp;赞:{{model.praise}}&nbsp;&nbsp;评论:{{model.comment}}
                            </td>
                        </tr>
                        <tr style="height: 15px;">
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </template>
                    <tr style="border-bottom: #d2d2d2 1px solid; width: 100%;height: 50px" v-if="list.length <= 0">
                        <td colspan="2" style="text-align: center">
                            <b>暂无数据</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="margin-top:15px;padding-bottom:15px;">
                                <input class="btn btn-default" @click="getpage(page-1)" id="lastpage" disabled type="button" value="上一页" style="width:45%">
                                <input class="btn btn-default" @click="getpage(page+1)" id="nextpage" disabled type="button" value="下一页" style="width:45%;margin-left:5%">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="../scripts/vue/vue.js"></script>
    <script src="../scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="../scripts/weixin/main.js"></script>
    <script src="../scripts/lodash.min.js"></script>
    <script src="../scripts/vue/weixinTemplate.js"></script>
    <script src="../scripts/weixin/interact.js"></script>
</body>
</html>
