<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../css/css.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <title>积分查询</title>
    <style>
        .integral {
            color: chocolate;
            font-weight: bold;
        }

        .index {
            font-weight: bold;
            font-size: 18px;
        }


        tr {
            height: 48px;
        }
    </style>
    <meta charset="utf-8" />
</head>
<body style="width: 94%; margin-left: 3%">
    <div class="banner">
        <img src="../images/weixin/banner.png">
    </div>
    <div class="container" id="app" style="margin-top: 18px;">
        <div class="row">
            <ddlvillage v-bind:ddlvillage="ddlvillage"></ddlvillage>
        </div>
        <div class="row">
            <div class="header">
                <div class="text">
                    积分排名
                </div>
            </div>
            <div style="text-align: left;">
                <table style="margin-left: 5%;width: 90%;">
                    <tr v-for="(model,index) in list" @click="minute(model.id)" style="border-bottom: solid 1px #d2d2d2">
                        <td style="width: 40px">
                            <span class="index">{{(page - 1) * size + (index + 1)}}</span>
                        </td>
                        <td style="width: 80px;">{{model.name}}</td>
                        <td style="width: 160px;">{{model.village}}</td>
                        <td style="width: 180px;">已获得<span class="integral">{{model.integra}}</span>积分</td>
                    </tr>
                    <tr v-if="list.length <= 0">
                        <td colspan="4" style="text-align:center">
                            <b>暂无数据</b>
                        </td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div style="margin-top:15px;padding-bottom:15px;">
                                    <input class="btn btn-default" @click="getpage(page-1)" id="lastpage" disabled type="button" value="上一页" style="width:45%">
                                    <input class="btn btn-default" @click="getpage(page+1)" id="nextpage" disabled type="button" value="下一页" style="width:45%;margin-left:5%">
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script src="../scripts/vue/vue.js"></script>
    <script src="../scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="../scripts/lodash.min.js"></script>
    <script src="../scripts/weixin/ddlvillage.js"></script>
    <script src="../scripts/weixin/integral.js"></script>
</body>
</html>
