<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../css/css.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <title id="pagetitle"></title>
</head>
<body style="width: 94%; margin-left: 3%">
    <div class="banner">
        <img src="../images/weixin/banner.png">
    </div>
    <div class="container" id="app" v-cloak style="margin-top: 18px;">
        <div class="row">
            <ddlvillage v-bind:ddlvillage.sync="ddlvillage"></ddlvillage>
        </div>
        <div class="row">
            <div class="header">
                <div class="text">
                </div>
            </div>
            <div style="text-align: left;">
                <table style="width:92%;margin-left:0">
                    <template v-for="(model,index) in list">
                        <tr @click="gotoInfo(model.id)">
                            <td rowspan="2" style="width:30%">
                                <img name="img" v-bind:src="model.img" height="80" width="120" style="margin-right: 15px" />
                            </td>
                            <td style="text-align: left;margin-left: 30px">{{model.town}}--{{model.village}}</td>
                        </tr>
                        <tr @click="gotoInfo(model.id)">
                            <td style="text-align: left;margin-left: 30px">发布日期 :{{model.date}} </td>
                        </tr>
                        <tr style="height: 30px; ">
                            <td colspan="2">
                                <div style="border-top: #d2d2d2 1px solid;width: 109%"></div>
                            </td>
                        </tr>
                    </template>
                    <tr v-if="list.length <= 0">
                        <td colspan="3" style="text-align:center">
                            <b>暂无数据</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div style="margin-top:15px;padding-bottom:15px;">
                                <input class="btn btn-default" @click="getpage(page-1)" id="lastpage" disabled type="button" value="上一页" style="width:45%">
                                <input class="btn btn-default" @click="getpage(page+1)" id="nextpage" disabled type="button" value="下一页" style="width:45%;margin-left:5%">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="../scripts/vue/vue.js"></script>
    <script src="../scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="../scripts/weixin/main.js"></script>
    <script src="../scripts/lodash.min.js"></script>
    <script src="../scripts/vue/weixinTemplate.js"></script>
    <script src="../scripts/weixin/openList.js"></script>
</body>
</html>
