<?xml version="1.0" encoding="utf-8"?>



<configuration>

  <appSettings>
    <add key="Configpath" value="~/xmlconfig/site.config" />
    <add key="Urlspath" value="~/xmlconfig/urls.config" />
    <add key="Userpath" value="~/xmlconfig/user.config" />
    <add key="Orderpath" value="~/xmlconfig/order.config" />
    <add key="nati_suffix" value="wxref=mp.weixin.qq.com" />
    <add key="AppId" value="wx7c32c023241aba89" />
    <add key="AppSecret" value="4044460f46a6c5dd864bb6e38b0c3274" />
    <add key="WeixinCodeUrl" value="https://open.weixin.qq.com/connect/oauth2/authorize?appid={0}&amp;redirect_uri={1}&amp;response_type=code&amp;scope=snsapi_base&amp;state=STATE#wechat_redirect" />
    <add key="WeixinOpenIdUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token?appid={0}&amp;secret={1}&amp;code={2}&amp;grant_type=authorization_code" />
    <add key="WeixinAccessToken" value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&amp;appid={0}&amp;secret={1}" />
    <add key="WeixinJsapiTicket" value="https://api.weixin.qq.com/cgi-bin/ticket/getticket?access_token={0}&amp;type=jsapi" />
    <add key="WeixinFileDown" value="http://file.api.weixin.qq.com/cgi-bin/media/get?access_token={0}&amp;media_id={1}" />
    <add key="Localhost" value="http://bxw2713550279.my3w.com" />
  </appSettings>

  <connectionStrings>
    <add name="DATABASE" connectionString="ThreeArriveAction" />
    <add name="DBString" connectionString="server=192.168.0.125;uid=sa;pwd=sa;database=ThreeArriveAction;" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <sessionState mode="InProc">
    </sessionState>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>

      <add type="ThreeArriveAction.Web.UI.HttpModule, ThreeArriveAction.Web.UI" name="HttpModule" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="templates/green/*.html" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>

    <httpRuntime maxRequestLength="512000" executionTimeout="3600" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableSessionState="true" />

  </system.web>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ThreeArriveAction.Web.Ajax.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ThreeArriveAction.Web.Ajax.Service1">
        <endpoint address="" behaviorConfiguration="ThreeArriveAction.Web.Ajax.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="ThreeArriveAction.Web.Ajax.Service1" />
      </service>
    </services>
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
